{% extends 'base.html.twig' %}

{% block title %}Resim Düzenle{% endblock %}

{% block body %}
    <h1>Resim Düzenle</h1>

    {{ include('admin/image/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_image_index') }}">Listeye Geri Dön</a>

    {{ include('admin/image/_delete_form.html.twig') }}
{% endblock %}
