
    <h1>Galeriye Resim Ekle</h1>

    {{ include('admin/image/_form.html.twig') }}

{% for image in imagelist %}

    <img src="{{ asset('uploads') }}/images/{{ image.image }}" height="200" >
    <a href="{{ path('admin_image_del' , {'id':image.id, 'pid':image.productid}) }}" onclick="return confirm('Resim silinsin mi?');" class="btn btn-danger">Sil</a>
   {% endfor %}