{% extends 'base.html.twig' %}

{% block title %}Yeni Mesaj{% endblock %}

{% block body %}
    <h1>Yeni Mesaj Oluştur</h1>

    {{ include('admin/messages2/_form.html.twig') }}

    <a href="{{ path('admin_messages2_index') }}">Listeye Geri Dön</a>
{% endblock %}
