{% extends 'frontbase.html.twig' %}


{% block title %} Hakk覺m覺zda {{ data[0].title }} {% endblock %}
{% block keywords %} {{ data[0].keywords }} {% endblock %}
{% block description %} {{ data[0].description }} {% endblock %}
{% block content %}

    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span12">
                    <h3 class="title">  hakk覺m覺zda </h3>
                    <p>
                        {{ data[0].aboutus|raw }}
                    </p>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
