{% extends 'base.html.twig' %}

{% block title %}Ayarlar{% endblock %}

{% block body %}
    <h1>Yeni Ayar Oluştur</h1>

    {{ include('admin/setting/_form.html.twig') }}

    <a href="{{ path('admin_setting_index') }}">Listeye Geri Dön</a>
{% endblock %}
