{% extends 'frontbase.html.twig' %}


{% block title %} Sipariş Tamamla {% endblock %}

{% block content %}



<section class="main-content">
    <div class="row">
        <div class="span9">
            <h4>Sipariş Tamamla</h4>

    {{ include('admin/orders/_form.html.twig') }}



        </div>
    </div>






    <script src="{{ asset('assets') }}/js/common.js"></script>

</section>

{% endblock %}
